<body class="welcome">
<div id="welcome">
  <div class="cover-container">
    <div class="inner cover">
      <h1 class="cover-heading">parkster</h1>
      <p class="lead">Get social with NYC parks.</p>
      <p class="lead">
      <div id="welcome-button"> 
        <%= link_to 'Sign Up with Facebook', login_path, class: "btn btn-lg btn-default" %>
      </div>
      </p>
    </div><!-- end of .inner.cover -->
  </div><!-- end of .cover-container -->
</div>
