<div class="cover-container">
  <div class="inner cover"></div>
    <h1 class="cover-heading">Parker</h1>
    <p class="lead">Get Social With NYC Parks.</p>
    <p class="lead">
    <div class="welcome-button"> 
      <%= link_to 'Sign Up With Facebook', login_path, class: "btn btn-lg btn-default" %>
    </div>
    </p>
  </div>
</div>