<div class="container col-md-8 col-md-offset-2">
  <h1>About Parkster</h1>

  <p>Built by <a href="https://github.com/ktravers">Kate Travers</a> and Nicole S. as a semester-showcase project at <a href="http://flatironschool.com">Flatiron School</a>, Parkster is a social networking platform organized around playing games together in <%= link_to "New York City\'s beatiful parks", parks_path %>.</p>

  <p>Members can use this app to quickly gather friends together to play a game at a park of their choice. The game leader decides on an activity, sets a meeting time and place, and can then notify their friends via email invite. All users can browse the <%= link_to "event calendar", games_path %> and <%= link_to "park listing", parks_path %>, and site members can sign in to join upcoming games with their friends.</p>

  <p>As a student project, Parkster is still a work-in-progress. Please feel free to <%= link_to "browse our source code on Github", "https://github.com/ktravers" %>, submit pull requests, and <a href="mailto:hello@parksternyc.com">send us feedback on the site</a>.</p>
</div>