<h1>About Parkster</h1>
<p>Parkster 

The idea was to create a social network platform organized around playing games together in New York City's beatiful parks. Users can use this app to quickly gather friends together to play a game at a park of their choice. The game leader decides on an activity, sets a meeting time and place, and can then notify their friends via email invite. Players can browse upcoming games and sign up to join.</p>