/* Index page styling - Rows
-------------------------------------------------- */
body > .index-page > .container {
  padding: 0px 15px 0;
  color: #003333;
  /*margin-bottom: 1em;*/
}
.index-page h1 {
  font-size: 2.5em;
  font-weight: bold;
  display: inline;
  float: left;
  margin-bottom: 1em;
}
.index-page .row {
  margin-right: 0;
  margin-left: 0;
}
.index-page a {
  text-decoration: none;
}
.users-index div.col-md-1.friend {
  display: inline;
  font-size: 1.25em;
  width: 12.5em;
  height: 16em;
  margin: 0 0.50em 1em 0em;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  text-align: center;
}  
.users-index div#friends-list ~ div.col-md-1.friend,
.index-page div#nyc-parks-list .row,
.index-page div#calendar-games-list .row {
  padding: 1.5em 0 1.5em 0;
  margin: 0.5em 0 0.5em 0;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  clear: both;
}
#friends-list > div:nth-child(1) {
  clear:both;
}
/* Button styling
-------------------------------------------------- */
.users-index div.btn.btn-default.back a,
.index-page div.btn.btn-default.small a,
.index-page div.btn.btn-default.back a {
  color: #fff;
}
.index-page div.btn.btn-default.small a {
  font-weight: 300;
}
.users-index div.btn.btn-default.back,
.index-page div.btn.btn-default.back {
  margin: 0.5em 0em 1.5em 0em;
  background-color: #3399ff;
  font-size: 1.25em;
  max-width: 250px;
  float: left;
  border: 1px solid #3399ff;
  clear:both;
}
.index-page div.btn.btn-default.small {
  margin-right: 2em;
  background-color: #3399ff;
  width: 100px;
  float: right;
  border: 1px solid #3399ff;
}
.index-page .park div.btn.btn-default.small {
  width: auto;
}
.index-page div.btn.btn-default.small:hover,
.index-page div.btn.btn-default.small:focus,
.index-page div.btn.btn-default.small:active, 
.index-page div.btn.btn-default.back:hover,
.index-page div.btn.btn-default.back:focus,
.index-page div.btn.btn-default.back:active {
  background: rgba(51, 153, 255, 0.75);
  border: 1px solid #3399ff;
}
#calendar-games-list {
  margin-bottom: 2em;
}