/* User and Game Show page styling
-------------------------------------------------- */
.show-page a {
  color: #3399ff;
  text-decoration: none;
}
.show-page a:hover {
  color: #003333;
}

.show-page ul {
  padding: 2em 0 0.5em 0;
}
.show-page li {
  padding: 0 0 0 0.5em;
}
.show-page li.list-group-item.active {
  line-height: 3;
  padding: 0 0 0 1em;
  font-size: 1.5em;
  font-weight: 700;
  background-color: rgba(51, 153, 255, 1)
}
.show-page div.label {
  color: #006666;
  font-weight: 700;
  font-size: 1em;
  margin-right: 1em;
  min-width: 125px;
  display: inline-block;
  text-align: left;
  border-right: 1px solid #e7e7e7;
  border-radius: 0;
  line-height: 3;
}
.show-page.user div.label {
  min-width: 150px;
}
.show-page.user li.list-group-item.games a {
  margin-right: 1em;
}

/* Button styling
-------------------------------------------------- */
.show-page div.btn-group a.btn.btn-default,
.show-page div.btn.btn-default {
  background-color: #3399ff;
  font-size: 1em;
  max-width: 250px;
  border: 1px solid #3399ff;
}
.show-page div.btn-group a.btn.btn-default:hover,
.show-page div.btn-group a.btn.btn-default:focus,
.show-page div.btn-group a.btn.btn-default:active,
.show-page div.btn.btn-default:hover,
.show-page div.btn.btn-default:focus,
.show-page div.btn.btn-default:active {
  background: rgba(51, 153, 255, 0.75);
  border: 1px solid #3399ff;
  text-decoration: none;
}
.show-page div.btn-group a.btn.btn-default,
.show-page div.btn.btn-default a {
  color: #fff;
}
.show-page div.btn.btn-default.invite {
  margin-left: 1em;
  padding: 3px 12px 3px 12px;
}
.show-page div.btn-group div.btn.btn-default {
  margin-bottom: 2.5em;
}
.show-page.user div.btn-group.col-md-8,
.show-page.game div.btn-group.col-md-7 {
  padding-left: 0;
  text-align: center;
  float: left;
  padding-left: 0;
  padding-right: 0;
}
.show-page div.col-md-2 {
  clear: both;
}
.show-page div.col-md-1 {
  padding: 3px 15px 3px 0;
}
/* Player profile picture styling
-------------------------------------------------- */
.show-page li.list-group-item.friends div.label,
.show-page li.list-group-item.players div.label {
  line-height: 4;
}
.show-page li.list-group-item.friends div.friend-pic-name,
.show-page li.list-group-item.players div.player-pic-name {
  display: inline-block;
  margin-right: 1em;
}
/* Hidden form button styling (Sign Up)
-------------------------------------------------- */
form .edit_game,
.show-page div.col-md-1 .edit_game input[type=submit]:nth-child(6) {
  background-color: #3399ff;
  font-size: 1em;
  max-width: 250px;
  border: 1px solid #3399ff;
  color: #fff;
  min-width: 60px;
  float: right;
  padding: 6px 2em 6px 2em;
  clear: none;
  border-radius: 4px;
}
.show-page div.col-md-1 .edit_game input[type=submit]:nth-child(6):hover,
.show-page div.col-md-1 .edit_game input[type=submit]:nth-child(6):active,
.show-page div.col-md-1 .edit_game input[type=submit]:nth-child(6):focus {
  background: rgba(51, 153, 255, 0.75);
  border: 1px solid #3399ff;
  text-decoration: none;
} 
/* Glyphicons
-------------------------------------------------- */
.show-page .glyphicon {
  font-size: 0.9em;
}
.show-page.user .glyphicon-calendar {
  color: #3399ff;
}
