/* Default styling for site
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body.welcome {
  background: url("background.jpg");
  background-size: cover;
}
body {
  margin-bottom: 90px; /* Margin bottom by footer height */
  background-color: #e7e7e7;
  color: #006666;
}
body > .container {
  padding: 60px 15px 0;
}
/* Custom welcome button
-------------------------------------------------- */
div#welcome-button .btn-default {
  color: #fff;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #3399ff;
  border: 1px solid #3399ff; 
}
div#welcome-button .btn-default:hover,
div#welcome-button .btn-default:focus,
div#welcome-button .btn-default:active {
  background: rgba(51, 153, 255, 0.75);
  border: 1px solid #3399ff;
}
div#welcome-button .btn-default:hover a,
div#welcome-button .btn-default:active a,
div#welcome-button .btn-default:focus a {
  color: #fff;
}
div#welcome-button a.btn.btn-lg.btn-default,
div#welcome-button a.btn.btn-lg.btn-default:hover,
div#welcome-button a.btn.btn-lg.btn-default:active,
div#welcome-button a.btn.btn-lg.btn-default:focus {
  color: #fff;
}
/* Navbar styling
-------------------------------------------------- */
.navbar-static-top {
  margin-bottom: 19px;
  background-color: #006666;
}
.navbar-static-top img {
  width: 40px;
  height: 40px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}
.navbar-default .navbar-collapse {
  border-color: #006666;
}
.navbar-default {
  border-color: #006666;
}
body > nav > div > div.navbar-header > a.navbar-brand,
#navbar > ul.nav.navbar-nav > li > a {
  color: #e7e7e7;
}
body > nav > div > div.navbar-header > a.navbar-brand:hover,
#navbar > ul.nav.navbar-nav > li > a:hover {
  color: #003333;
}
.navbar-static-top li img {
  margin-top: 5px;
}
.navbar-static-top a.navbar-brand {
  font-size: 1.75em;
  font-weight: bold;
  margin: -3px 0 2px 0;
}
/* Welcome cover styles
-------------------------------------------------- */
.cover-container {
  padding-top: 6em;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
}
/* Padding for spacing */
.inner {
  padding: 30px;
}
.cover {
  padding: 0 20px;
}
body > div > p.lead {
  color: #006666;
}
.cover-heading {
  font-size: 8em;
  color: #006666;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}
/* Responsive styling
-------------------------------------------------- */
@media (min-width: 768px) {
  /* Handle the widths */
  .cover-container {
    vertical-align: middle;
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}
@media (min-width: 992px) {
  .cover-container {
    width: 700px;
  }
}
/* Footer styles
-------------------------------------------------- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90px; /* Set the fixed height of the footer here */
  background-color: #006666;
  color: #fff;
  text-align: center;
}
.container .text-muted a,
.container .text-muted {
  margin: 20px 0;
  color: #e7e7e7;
  text-decoration: none;
}
.container .text-muted a:hover {
  color: #3399ff;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
img {
  width: 50px;
  height: 50px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border: 1px solid rgba(51, 153, 255, 0.75);
}
footer ul {
  padding: 0;
}
footer li {
  display: inline-block;
  padding: 0 1em 0 1em;
}
footer li:first-child {
  padding-left: 0;
}
/* Miscellaneous detail styling
-------------------------------------------------- */
.glyphicon {
  color: #fff;
  font-size: 0.75em;
  padding-right: 6px;
  top: 0;
}
.glyphicon-heart {
  color:#3399ff; 
  padding-right: 0;
}
hr {
  border: 0;
  height: 1px;
  background: #3399ff;
  background-image: -webkit-linear-gradient(left, #ccc, #3399ff, #ccc);
}