<footer class="footer">
  <div class="container">
    <ul class="text-muted">
      <li>Made with ♥ <a href="http://flatironschool.com/">@flatironschool</a> by <a href="https://github.com/laranicole70">Lara Shkordoff</a>
      and <a href="https://github.com/ktravers">Kate Travers</a></li> |
      <li><a href="https://github.com/laranicole70/park_friends">Source code</a></li> |
      <li><a href="mailto:hello@parkfriends.com">Feedback</a></li>
    </ul>
  </div>
</footer>