<footer class="footer">
  <div class="container">
    <ul class="text-muted">
      <li>Made with <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
      <a href="http://flatironschool.com">@flatironschool</a> by <a href="#">Nicole S</a>
      and <a href="https://github.com/ktravers">Kate Travers</a></li> |
      <li><a href="https://github.com/ktravers/park_friends">Source code</a></li> |
      <li><%= link_to "Disclaimer", '#' %></li> |
      <li><a href="mailto:hello@parksternyc.com">Feedback</a></li> |
      <li>Park data courtesy <a href="http://dev.socrata.com/foundry/#/data.cityofnewyork.us/e4ej-j6hn">#nycopendata</a>.</li>
      <p>
      <li style="font-size:0.75em;">This site is not affiliated with <a href="http://www.nycgovparks.org">New York City Department of Parks & Recreation</a>.</li>
      </p>
    </ul>
  </div>
</footer>
