<nav>
  <ul>
    
    <li>Park Friends | About | NYC Parks
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp< fake header >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        Hi <%= "#{current_user.first_name}" %>! | Dashboard | Calendar | Sign Out</li>
  </ul>
</nav>